.card {
    background-color: var(--accent-color);
}

.btn-sub {
    min-height: 50px;
    border: none;
    color: var(--secondary-color);
    font-size: 0.9rem;
    background-color: var(--primary-color);
}

.btn-sub:hover {
   background-color: var(--primary-color-hover);
}

.subs-text{
    max-width: 500px;
}