<section class="container p-0 shadow-effect my-5">
    <div class="parallax-border rounded-top"></div>
    <article class="card border-0 rounded-bottom rounded-top-0">
        <div class="card-body">
            <div class="my-lg-5 my-md-5 my-3">
                <h3 class="m-auto subs-text">SUBSCRIPTION FORM</h3>
                <p class="m-auto subs-text mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nemo
                    facilis
                    dignissimos dolorem quo numquam!</p>
                <form action=""
                      class="d-flex gap-lg-2 gap-md-1 gap-sm-0 flex-lg-row flex-md-row flex-column justify-content-md-between justify-content-lg-center align-items-lg-stretch mb-2">
                    <div class="form-group my-1 col-md-5">
                        <input type="text"
                               class="form-control"
                               placeholder="Your Name">
                    </div>
                    <div class="form-group my-1 col-md-5">
                        <input type="email"
                               class="form-control"
                               placeholder="Email Address">
                    </div>
                    <div class="my-1 d-flex justify-content-start">
                        <button class="btn btn-custom-theme">SUBSCRIBE</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>