<div class="parallax bg-secondary text-white p-lg-5 p-md-5 p-3">
    <div class="container">
        <h1 class="display-5 fw-medium text-uppercase pb-2 ps-lg-5 pe-lg-5">General Knowledge</h1>
        <p class="lh-base fs-3 ps-lg-5 pe-lg-5 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
</div>

<section class="container mt-5 mb-5">
    <div class="d-flex gap-3 flex-wrap align-items-center justify-content-center">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
</section>