nav {
    box-shadow: 0 10px 20px -20px black;
}

.png-logo {
    object-fit: contain;
    margin-left: 10% !important;
}

.btn-outline-custom-theme {
    min-height: 35px;
}

a,
button {
    box-sizing: border-box !important;
    min-height: 35px;
    display: flex;
    align-items: center;
}

a.nav-link,
button.nav-link {
    font-size: 0.85rem;
    padding: 0.2rem 0.5rem;
    color: var(--primary-color) !important;
    border-radius: .3rem;
    border: 0.5px var(--primary-color) solid;
    max-width: 140px;
}

a.dropdown-item{
    text-transform: uppercase;
    font-size: 0.85rem;
}

.active {
    background-color: var(--secondary-color-90);
    border: 1px solid orange !important;
}

a.nav-link:hover,
button.nav-link:hover {
    color: var(--primary-color-hover);
    text-decoration: none;
    background-color: white;
    border: 0.5px var(--primary-color) solid;
}

li .dropdown-menu {
    max-width: fit-content !important;
}

.dropdown-item {
    border-radius: 5px;
    color: var(--primary-color);  
}

@media screen and (max-width:992px) {
    nav .png-logo {
        height: 70px;
        margin-left: 6.5% !important;
    }

    .custom-width{
        width: 250px;
    }
    nav ul a.nav-link,
    .dropdown-menu {
        margin-left: 4% !important;
    }
}