<section class="featured-section"
         id="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center my-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, voluptatibus!
                </p>
            </div>
        </div>

        <div
             class="d-flex justify-content-center gap-3 flex-lg-row flex-md-row flex-sm-column align-items-sm-center flex-wrap">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</section>