<section class="featured-section parallax"
         id="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div
                 class="col-md-12 d-flex flex-column align-items-center justify-content-center bg-white bg-opacity-25 pt-3 mt-5 mb-3 rounded-1">
                <h2 class="display-6 fw-medium text-uppercase pt-1">Featured Posts</h2>
                <p class="display-6 fs-3 fw-light lh-base p-1">Your source for
                    breaking news and photos.</p>
                <p class="display-6 fs-5 fw-medium lh-base pb-1">Choose your topics from health, sports,
                    business, entertainment, real
                    estate, culture, fashion and more.</p>
            </div>
        </div>
        <div class="d-flex gap-2 flex-shrink-1 flex-wrap align-items-center justify-content-center">
            <ng-container *ngFor="let postDoc of posts">
                <app-post-card [postItem]="postDoc"></app-post-card>
            </ng-container>
        </div>
    </div>
</section>

<section id="latest-posts-section"
         class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p class="p-md-4 p-2">View the latest news and stories, aggregated from sources all over the world by POSTAGRAM!
        </p>
    </div>
    <div class="d-flex gap-3 flex-wrap align-items-center justify-content-center">
        <ng-container *ngFor="let doc of latestPosts">
            <app-post-card [postItem]="doc"></app-post-card>
        </ng-container>
    </div>
</section>