<section id="about-us"
         class="mt-5 background">
    <article class="container p-md-5 p-4 col-md-9 col-12 bg-secondary-theme shadow-effect">
        <h1 class="pb-4 text-center">About Us</h1>
        <hr>
        <p class="mt-lg-5 mt-4 mb-0 fw-semibold">Who are we?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium alias reiciendis corporis
            perspiciatis dolores! Omnis quibusdam distinctio dicta autem doloremque deserunt. Consequuntur in iure
            illum fuga obcaecati. Quos, qui explicabo!</p>

        <p class="mt-lg-5 mt-4 mb-0 fw-semibold">Why to choose us?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum debitis quaerat dicta praesentium
            veritatis! Cupiditate!</p>

        <p class="mt-lg-5 mt-4 mb-0 fw-semibold">Our partners</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste quia iusto voluptates blanditiis rem.
            Voluptatibus asperiores iusto fugiat officia fugit, voluptatum itaque totam dolor, molestias atque
            incidunt illum minima ex, vel autem soluta a dolore dolores rem laborum. Iusto, aliquid.</p>

        <div class="text-center d-flex justify-content-center align-items-center gap-2">
            <button (click)="navigateToHomePage()"
                    class="btn btn-sm btn-custom-theme mt-4">Back to Home</button>
            <button (click)="navigateToTermsPage()"
                    class="btn btn-sm btn-custom-theme mt-4">Terms & Conditions</button>
        </div>
    </article>
</section>