<section class="container">
    <div
         class="d-flex flex-lg-row flex-md-row flex-column gap-2 flex-lg-shrink-0 flex-md-shrink-1 flex-sm-grow-1 align-items-lg-start align-items-md-start align-items-sm-center justify-content-center">
        <div class="col-md-8">
            <article class="card shadow-effect">
                <img src="assets/single-post-dessert-category.jpg"
                     alt="Berries cheesecake"
                     class="card-img-top img-fluid">
                <div class="card-body px-lg-5 px-4">
                    <small class="bg-light text-danger text-center mx-1">Food</small>
                    <small class="bg-light text-success text-center mx-1">Featured</small>
                    <small class="bg-light text-info text-center mx-1">Views - 80,256</small>
                    <small class="bg-light text-warning text-center mx-1">LAST UPDATED - SEP 25, 2023</small>
                    <h1 class="mt-3 mb-3">HOW TO BAKE THE PERFECT CHEESECAKE - TIPS AND TRICKS</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime soluta fugit sit
                        reiciendis. A consectetur molestiae maiores? Velit, consectetur.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione architecto, blanditiis eaque
                        deleniti veniam aliquid soluta nostrum quaerat sed unde ab! Perferendis ratione voluptatum rerum
                        tempora eaque deleniti obcaecati nostrum!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus expedita cumque deserunt.
                        Voluptatibus atque reprehenderit autem voluptates? Ex, perferendis nemo? Eum nemo alias tempora
                        laborum debitis. Maiores consequuntur est saepe.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto unde repellendus aliquam
                        reprehenderit cum voluptates saepe ipsum dolores culpa sapiente atque illo, velit, fuga odit
                        beatae explicabo dolore enim provident.</p>
                </div>
            </article>

            <app-comment-form></app-comment-form>
            
        </div>
        <div class="posts d-flex flex-column align-items-center">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</section>