<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">POSTAGRAM</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a routerLink="/home"
                               class="nav-link">Home</a></li>
                        <li class="nav-item"><a routerLink="/about"
                               class="nav-link">About</a></li>
                        <li class="nav-item"><a routerLink="/terms-and-conditions"
                               class="nav-link">Terms & Conditions</a></li>
                        <li class="nav-item"><a routerLink="/contacts"
                               class="nav-link">Contacts</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright &copy; 2023 Postagram Blogsite</p>
            </div>
        </div>
    </div>
</footer>