<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-name pt-2">POSTAGRAM</div>
                <div>
                    <ul class="nav justify-content-center align-items-center">
                        <span class="nav-link">Site Map:</span>
                        <li class="nav-item"><a routerLink="/home"
                               class="nav-link">Home</a></li>
                        <li class="nav-item"><a routerLink="/about"
                               class="nav-link">About Postagram</a></li>
                        <li class="nav-item"><a routerLink="/terms-and-conditions"
                               class="nav-link">Terms & Privacy</a></li>
                        <li class="nav-item"><a routerLink="/contacts"
                               class="nav-link">Contacts</a></li>
                    </ul>
                </div>
                <p class="mt-2">Copyright &copy; 2023 Postagram Blogsite</p>
            </div>
        </div>
    </div>
</footer>