@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap');

:root {
    --primary-color: #026467;
    --secondary-color: #e5f5ea;
    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--body-text-color);
}