@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap');

:root {
    --primary-color: #273b93;
    --primary-color-hover: #5062b1;

    --secondary-color: #e5f1f5;
    --secondary-color-90: rgba(229, 241, 245, 0.9);
    --secondary-color-hover: #c5edfb;

    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;

    --light-color-90: rgba(247, 247, 247, 0.9);

    --accent-color: #fff75b;
    --accent-color-90: rgba(255, 247, 91, 0.9);
    --accent-color-hover: #ffe202;
    --accent-text-color: #8a7a00;
    --gold-text-color: rgb(241, 177, 0);

    --shadow-color: #eaefff;
    --shadow-effect-color: #4f65ae;
}

html,
* {
    transition: all 0.2s ease-in-out;
}
html,
body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--body-text-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-underline-offset: 4px;
    text-decoration: underline solid var(--primary-color) 0.4px;
}

button:disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}

.site-logo {
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 1.5rem;
    height: 50px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--primary-color);
    margin-left: 10% !important;
}

.nav-link {
    text-transform: uppercase;
}

.shadow-effect {
    border: none;
    box-shadow: 0px 0px 25px -15px var(--shadow-effect-color);
}

.parallax,
.parallax-border {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------Custom theme----------------*/
/*---colors---*/
.bg-primary-theme {
    background-color: var(--primary-color);
}

.bg-secondary-theme {
    background-color: var(--secondary-color);
}

.bg-light-theme {
    background-color: var(--navbar-footer-color);
}

.text-theme-primary {
    color: var(--primary-color);
}

.text-theme-accent {
    color: var(--accent-text-color);
}

.text-theme-gold {
    color: var(--gold-text-color);
}

/*--- forms ---*/
input,
select {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    color: var(--body-text-color) !important;
    border: 0 !important;
    box-shadow: 0px 0px 8px -1px inset gainsboro !important;
}

input[type="file"]::-webkit-file-upload-button {
    border-color: gainsboro !important;
    background-color: whitesmoke;
    color: var(--body-text-color) !important;
}

form textarea {
    padding-left: 20px;
    color: var(--body-text-color) !important;
    resize: vertical;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: 0 !important;
    box-shadow: 0px 0px 8px -1px inset gainsboro !important;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    box-shadow: 0px 0px 14px -8px inset var(--primary-color) !important;
}

input::placeholder,
textarea::placeholder {
    color: var(--body-text-color) !important;
}

/* ---custom button---*/
.btn-custom-theme {
    min-height: 40px;
    border: none;
    color: white !important;
    font-size: 0.9rem;
    background-color: var(--primary-color);
}

.btn-custom-theme:hover {
    background-color: var(--primary-color-hover);
}

.btn-outline-custom-theme {
    min-height: 40px;
    color: var(--primary-color);
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.btn-outline-custom-theme:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

/* ----------------- kolkov/angular-editor ---------------------*/
div.angular-editor-toolbar {
    border-radius: 0.3rem;
}

div.angular-editor-textarea {
    min-height: 150px !important;
    border-radius: 0.3rem;
    max-width: inherit !important;
    resize: vertical !important;
    overflow: auto !important;
    overflow-wrap: break-word !important;
    scroll-behavior: smooth !important;
    box-shadow: 0px 0px 8px -1px inset gainsboro !important;
}

div.angular-editor-textarea:focus,
div.angular-editor-textarea:hover {
    outline: none !important;
    box-shadow: 0px 0px 14px -8px inset var(--primary-color) !important;
}

div.angular-editor-textarea::placeholder {
    font-weight: bold;

    color: var(--body-text-color);
}
