<article class="card shadow-effect">
    <img src="https://images.pexels.com/photos/889839/pexels-photo-889839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
         alt="post-image"
         class="card-img-top">
    <section class="card-body px-4">
        <small class="bg-light text-danger text-center mx-1">Travel</small>
        <small class="bg-light text-success text-center mx-1">Featured</small>
        <small class="bg-light text-info text-center mx-1">Views - 100,256</small>

        <h5 class="mt-2">Art techniques every artist must know.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium atque error quisquam odit
            tenetur harum distinctio sapiente libero. Ratione tempora dolor sapiente commodi blanditiis dolore, magni
            modi culpa nesciunt.</p>

        <small class="bg-light text-info text-center mx-1">Last updated - Sep 23, 2023</small>
    </section>
</article>