<ng-container *ngIf="postItem">
    <article class="card shadow-effect">
        <img src="{{postItem['postImgPath']}}"
             alt="{{postItem['title']}}"
             class="card-img-top">
        <section class="card-body">
            <small class="bg-light text-danger text-center mx-1">{{postItem['category']['category']}}</small>
            <small
                   class="bg-light text-success text-center mx-1">{{postItem['isFeatured'] === true ? 'Featured' : ''}}</small>
            <small class="bg-light text-info text-center mx-1">Views - {{postItem['views']}}</small>

            <h5 class="text-black-50 fw-bold mt-2">{{postItem['title']}}</h5>

            <p *ngIf="postItem['excerpt'].length > 100">{{postItem['excerpt'] | slice:0:100}}...</p>
            <p *ngIf="postItem['excerpt'].length <= 100">{{postItem['excerpt']}}</p>

            <small *ngIf="postItem['createdAt'] !== postItem['updatedAt']"
                   class="bg-light text-info text-center mx-1">Updated -
                {{postItem['updatedAt'].toDate() | date:"MMM d, yy hh:mm a"}}</small>
        </section>
    </article>
</ng-container>